# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
myenv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/

# Editor / IDE
.vscode/
.idea/

# Environment files
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
